.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maincontent {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
}
.left {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
}
.content {
  border: #282c3498;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;

  padding: 10px;
  display: flex;
  flex-direction: row;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 50px;
  padding: 10px;

  flex-shrink: 0;
}
.listitem {
  display: flex;
  margin: 5px;
  width: 100%;
}

.element-group-detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.detaillabel {
  display: flex;
  flex: 1;
}
.detailinput {
  flex: 4;
}
p {
  flex-wrap: wrap;

  flex: 5;
}
