.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.searchgroup {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maincontent {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
}
.left {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
}
.content {
  border: #282c3498;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;

  padding: 10px;
  display: flex;
  flex-direction: row;
}

.categoryselect {
  position: relative;
  display: inline-block;
  width: 30%;
}
.searchbar {
  width: 70%;
  margin-left: 10px;
}

.categoryselect-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.categoryselect:hover .categoryselect-content {
  display: block;
}
.topbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.radioitem {
  min-width: 10%;
}
.radiogroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
.right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 50px;
  padding: 10px;

  flex-shrink: 0;
}
.listitem {
  display: flex;
  margin: 5px;
  width: 100%;
}

.button {
  display: inline-block;
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
  align-self: center;
  border: none;
  border-radius: 15px;
  justify-self: right;
  max-height: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.select {
  background-color: #4caf50;
}
.delete {
  background-color: #cd3b1d;
}

.element-group-detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.detaillabel {
  display: flex;
  flex: 1;
}
.detailinput {
  flex: 4;
}
p {
  flex-wrap: wrap;

  flex: 5;
}

.delete:hover {
  background-color: #a4240b;
}
.select:hover {
  background-color: #3e8e41;
}

.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.select:active {
  background-color: #3e8e41;
}
.delete:active {
  background-color: #a4240b;
}
